.container{
    display: flex;
}

body{
     
         padding: 10px; 
          margin: 10px; 

}
 .box1{
    color: red;
    border: 2px solid black;
    padding: 7px;
    margin: 7px;

}   
  .box2{
     color: blue;
    border: 2px solid black;
      padding: 7px;
    margin: 7px;

}
     .box3{
        color: rgb(7, 153, 179);
    border: 2px solid black;
    padding: 7px;
    margin: 7px;


     }
     .footer{
        background-color: brown;
        text-align: center;
     }
    
